<!DOCTYPE html>
<html>
<head>{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/fira_code.css' %}">



{% endblock %}</head>


<body>{% block body %}
{% block footer %}
    <img id="footer" src="{% static 'footer.jpg'%}">

{% endblock %}

    <nav class="nav nav-tabs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img width="55" src="{% static 'logo.png' %}">
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Главная</a></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">PPTP
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Проверить IP</a> </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Настройки</a> </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Squidward
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'report_index' %}">Отчет за выбранный период</a> </li>
                <li><a href="{% url 'report_top_week' %}">Топ за прошлую неделю</a> </li>
                <li><a href="{% url 'report_top_month' %}">Топ за прошлый месяц</a> </li>
                <li role="separator" class="divider"></li>
                <li><a href="">Настройки</a> </li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li><a href="">Сообщения: <span class="badge"></span>
          0
      </a></li>
      <li><a href="">Выйти <span class="glyphicon glyphicon-log-in"></span></a></li>

      {% else %}
      <li><a href="{% url 'login' %}">Вход <span class="glyphicon glyphicon-log-in"></span></a></li>
      {% endif %}
    </ul>
  </div>
</nav>


<div class="content">
{% block content %}

{% endblock %}
</div>


<div class="footer navbar-fixed-bottom row-fluid">
            &copy; 2018 wirr@wirr.pro
</div>


{% endblock %}</body>
</html>