{% extends "base.html" %}
{% load static %}

{% block title %}Squidward is watching you!{% endblock %}

{% block head %}{{ block.super }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker-start" ).datepicker();
  } );
    $( function() {
    $( "#datepicker-end" ).datepicker();
  } );

  </script>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="col-sm-12" align="center">
<form>
    <label>Начало:</label>
    <input type="text" id="datepicker-start">
    <label>Конец:</label>
    <input type="text"  id="datepicker-end">
  <button type="submit" class="btn btn-default">Сгенерировать</button>
</form>
     </div></div>







{% endblock %}



<div class="container">
	<div class="row">
 	    <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP-адрес</th>
                        <th scope="col">Сайт</th>
                        <th scope="col">Мб</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in to_db %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
    </div>
</div>