{% extends "base.html" %}
{% load static %}
{% block title %}Squidward is watching you{% endblock %}

{% block content %}
<div class="table_report">
            <table class="table table-striped table-bordered">
            <caption>Топ-50 пользователей с наибольшим трафиком {{ date_start }} - {{ date_stop }}</caption>
            <a class="backward" href="#" onclick="history.back();">Назад</a>
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP-адрес</th>
                        <th scope="col">Мб</th>
                    </tr>
                </thead>
                <tbody class="tbody_report">
                    {% for row in pptp_sum %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/reports/manual/{{ fromdate}}_{{ untildate }}/{{ row.pptpip }}">{{ row.pptpip }}</a></td>
                            <td>{{ row.sum }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{#        </div>#}
{#    </div>#}
</div>
{% endblock %}